.container-fluid {
    padding-right: 150px;
    padding-left: 150px;
    background-color: #f5f5f5;
}

.col-10 h1 {
    color: #0f6189;
}

.upper-section-border {
    border: 1px solid rgb(15, 97, 137);
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.bottom-section-color {
    background-color: #fff;
}

.right-section-border {
    border-right: 1px solid rgb(15, 97, 137);
}

.down-left-section-border {
    border-radius: 0 0 0 30px;
    margin-bottom: -16px;
}

.menu-section {
    background-color: rgb(15, 97, 137);
    color: #fff;
    padding: 10px;
}

.menu-section i {
    color: #fff;
}

.btn-salir {
    cursor: pointer;
    background-color: #8c1c45;
    color: #fff;
}

.icon-container {
    background-color: #0f6189;
    padding: 10px;
    border-radius: 36%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    left: 40px;
}

.icon-container i {
    font-size: 42px;
}

/* ------- ESTILOS PARA FORMULARIO -------------
.form-container {
    border: 1px solid #0f6189;
    border-radius: 30px;
    padding: 20px;
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -125px;
}

.form-container h2 {
    color: #0f6189;
}

.form-container label {
    color: #0f6189;
    margin-left: 34%;
}

.form-container input {
    width: 60%;
    margin-left: 22%;
}

.form-container button {
    background-color: #8c1c45;
    color: #fff;
    margin-top: 10px;
    margin-left: 30%;
}*/

.carousel-inner {
    max-width: 30rem;
    /* Ajusta según tu preferencia */
    /*max-height: 400px;  Ajusta según tu preferencia */
    margin: auto;
    /* Centra el carrusel */
    overflow: hidden;
    /* Oculta cualquier contenido que sobresalga */
}

.carousel-item img {
    width: 100%;
    /* Hace que las imágenes se ajusten al ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de aspecto de las imágenes */
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 768px) {

    /*Haciendo visible menu hamburguesa */
    /*nav {
        display: none;
    }*/

    .navbar-toggler {
        display: block;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }


    /*Ajustando Carrusel */
    .carousel-inner {
        max-width: 300px;
        max-height: 200px;
    }

    /*Ajustando tamaño de iconos y texto */
    .icon-container i {
        font-size: 24px;
    }

    .menu-section {
        font-size: 14px;
    }

    /*Ajustando layout inferior*/
    .bottom-section-color {
        flex-direction: column;
    }

    .col-2,
    .col-10 {
        width: 100%;
    }

    /*Ajustando padding*/

    .container-fluid {
        padding: 10px;
    }

}
