.container-fluid {
    padding-right: 150px;
    padding-left: 150px;
    background-color: #f5f5f5;
}

.col-10 h1 {
    color: #0f6189;
}

.upper-section-border {
    border: 1px solid rgb(15, 97, 137);
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.bottom-section-color {
    background-color: #fff;
}

.right-section-border {
    border-right: 1px solid rgb(15, 97, 137);
}

.down-left-section-border {
    border-radius: 0 0 0 30px;
    margin-bottom: -16px;
}

.menu-section {
    background-color: rgb(15, 97, 137);
    color: #fff;
    padding: 10px;
}

.menu-section i {
    color: #fff;
}

.custom-btn{
    color: rgb(15, 97, 137);
    text-decoration: none;
}

.btn-salir {
    cursor: pointer;
    background-color: #8c1c45;
    color: #fff;
    margin-left: 36%;
}

.icon-container {
    background-color: #0f6189;
    padding: 10px;
    border-radius: 36%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    left: 40px;
}

.icon-container i {
    font-size: 42px;
}


.carousel-inner {
    max-width: 30rem;
    margin: auto;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

@media (min-width: 769px) {
    #btn-drawer{
        display: none;
    }
    #imagen-desktop{
        display: block;
    }
    #imagen-movil{
        display: none;
    }
    #upper-movil{
        display: none;
    }
    #upper-desktop{
        display: flex;
    }
    #salir-movil{
        display: none;
    }
    #salir-desktop{
        display: block;
    }
}

@media (max-width:768px){
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    #upper-movil{
        display: block;
    }
    #upper-movil h1{
        color: #0f6189;
    }
    #upper-desktop{
        display: none;
    }
    #btn-drawer{
        margin: 10px;
    }
    .offcanvas{
        max-width: 75%;
    }
    #salir-movil{
        display: block;
    }
    #salir-desktop{
        display: none;
    }
}


